.tb_jbt_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}
.tb_jbt_cont h1 {
  text-align: center;
  width: 100%;
  font-size: 3vw;
}

.tb_jbt_cont h1 small {
  color: rgb(22, 167, 92);
}

.tb_jbt_cont .table-responsive {
  height: 70vh;
  width: 95%;
}

.tb_jbt_cont .table-responsive .container-custom {
  width: 100%;
  height: 67vh;
}
