<hr class="line" />
<!-- page Standar Layanan  -->
<section class="layanan_cont"  data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out"  data-aos-offset="200" data-aos-delay="50">
  <section class="layanan_Sub">
    <div class="layanan_img">
      <img src="/asset/PhotoComponent/standart.png" alt="Gambar" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="150" />
    </div>
    <div class="layanan_item_cont">
      <h1>Standar <small>Layanan</small></h1>
      <ul class="layanan_item">
        <li class="layanan_list mb-2 pr-2" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="150">
          <div class="row">
            <div class="card">
              <div class="card-body card-body-flex">
                <img src="/asset/photoComponent/layanan/data.png" alt="" />
                <p class="card-text">
                  Foto Pelaksanaan yang di unggah dalam Aplikasi Sipejantan Pro
                  berasal dari Dinas Sumber Daya Air dan Bina Marga
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="layanan_list mb-2 pr-2" data-aos="fade-left" data-aos-duration="2000" data-aos-delay="200">
          <div class="row">
            <div class="card">
              <div class="card-body card-body-flex">
                <img
                  src="/asset/photoComponent/layanan/ferifikasi.png"
                  alt=""
                />
                <p class="card-text">
                  Foto Pelaksanaan dalam Aplikasi Sipejantan Pro sudah
                  diklasifikasikan berdasarkan Kabupaten/Kota dan Tahun
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="layanan_list mb-2 pr-2" data-aos="fade-left" data-aos-duration="2500" data-aos-delay="250">
          <div class="row">
            <div class="card">
              <div class="card-body card-body-flex">
                <img src="/asset/photoComponent/layanan/service.png" alt="" />
                <p class="card-text">
                  Layanan pada Aplikasi Sipejantan Pro dapat diakses oleh
                  Pelaksana Bidang Bina Marga maupun masyarakat umum secara
                  gratis dan tanpa syarat.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="layanan_list mb-2 pr-2" data-aos="fade-left" data-aos-duration="3000" data-aos-delay="300">
          <div class="row">
            <div class="card">
              <div class="card-body card-body-flex">
                <img
                  src="/asset/photoComponent/layanan/oppinion.png"
                  alt=""
                />
                <p class="card-text">
                  Saran dan kritik atas layanan pada Aplikasi Sipejantan Pro
                  dapat ditujukan kepada Bina Marga (<a
                    href="mailto:binamarga@sultraprov.go.id"
                    >binamarga@sultraprov.go.id</a
                  >)
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</section>
