<!-- Link Terkait -->
<section class="link_cont">
  <div class="link_head">
    <hr />
    <h1>Link <small>Terkait</small></h1>
    <hr />
  </div>

  <ul>
    <li>
      <img
        src="https://4.bp.blogspot.com/-m0mltZhSybQ/XqU5XmgmtsI/AAAAAAAAAOo/yTyuP1hgVJk1Z1qK69ribhTtqS0R6CeLQCLcBGAsYHQ/s320-rw/Provinsi%2BSulawesi%2BTenggara%2B%255Bwww.blogovector.com%255D.png"
        alt="logo"
      />
      <a href="https://www.sultraprov.go.id/">SULTRA PROV</a>
    </li>
    <li>
      <img
        src="https://4.bp.blogspot.com/-m0mltZhSybQ/XqU5XmgmtsI/AAAAAAAAAOo/yTyuP1hgVJk1Z1qK69ribhTtqS0R6CeLQCLcBGAsYHQ/s320-rw/Provinsi%2BSulawesi%2BTenggara%2B%255Bwww.blogovector.com%255D.png"
        alt="logo"
      />
      <a href="https://www.sultraprov.go.id/">SULTRA PROV</a>
    </li>
    <li>
      <img
        src="https://4.bp.blogspot.com/-m0mltZhSybQ/XqU5XmgmtsI/AAAAAAAAAOo/yTyuP1hgVJk1Z1qK69ribhTtqS0R6CeLQCLcBGAsYHQ/s320-rw/Provinsi%2BSulawesi%2BTenggara%2B%255Bwww.blogovector.com%255D.png"
        alt="logo"
      />
      <a href="https://www.sultraprov.go.id/">SULTRA PROV</a>
    </li>
    <li>
      <img
        src="https://4.bp.blogspot.com/-m0mltZhSybQ/XqU5XmgmtsI/AAAAAAAAAOo/yTyuP1hgVJk1Z1qK69ribhTtqS0R6CeLQCLcBGAsYHQ/s320-rw/Provinsi%2BSulawesi%2BTenggara%2B%255Bwww.blogovector.com%255D.png"
        alt="logo"
      />
      <a href="https://www.sultraprov.go.id/">SULTRA PROV</a>
    </li>
    <li>
      <img
        src="https://4.bp.blogspot.com/-m0mltZhSybQ/XqU5XmgmtsI/AAAAAAAAAOo/yTyuP1hgVJk1Z1qK69ribhTtqS0R6CeLQCLcBGAsYHQ/s320-rw/Provinsi%2BSulawesi%2BTenggara%2B%255Bwww.blogovector.com%255D.png"
        alt="logo"
      />
      <a href="https://www.sultraprov.go.id/">SULTRA PROV</a>
    </li>
  </ul>
</section>
