<hr class="line" />
<!-- Page Tutorial -->
<section class="container-fluid cont_tutorial">
  <div class="tutorial_cont">
    <section class="tutorial_header">
      <h1>Tutorial <small>Penggunaan</small></h1>
      <p>
        Video tutorial penggunaan aplikasi sipejantan pro adalah cara yang
        efektif untuk membantu Anda memahami cara menggunakan aplikasi tersebut
        dengan mudah dan cepat. Melalui video tutorial ini, Anda dapat menonton
        demonstrasi langkah demi langkah tentang cara mencari dan mengakses
        peraturan yang diinginkan, serta cara menggunakan fitur-fitur yang
        tersedia di aplikasi ini. Dengan video tutorial ini, Anda dapat belajar
        cara menggunakan aplikasi dengan mudah dan cepat, serta memudahkan Anda
        untuk mencari dan mengakses peraturan yang diinginkan dengan lebih
        efisien.
      </p>
    </section>
    <section class="tutorial_content">
      <iframe
        src="https://www.youtube.com/embed/tgbNymZ7vqY"
        width="650"
        height="450"
        frameborder="0"
      ></iframe>
    </section>
  </div>
</section>
