<nav class="navbar navbar-expand-lg navbar-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"
      ><img src="/../asset/logo/logo.png" alt="logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#mobile_nav"
      aria-controls="mobile_nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mobile_nav">
      <!-- <ul class="navbar-nav mr-auto mt-2 mt-lg-0 float-md-right"></ul> -->
      <ul
        class="navbar-nav navbar-light"
        style="width: 100%; justify-content: center"
      >
        <li class="nav-item">
          <a class="nav-link" href="/">BERANDA</a>
        </li>
        <!-- Pelaksanaan -->
        <li class="nav-item dropdown megamenu-li">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdown01"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >PELAKSANAAN</a
          >
          <div
            class="dropdown-menu megamenu sm-menu border-top"
            aria-labelledby="dropdown01"
          >
            <div class="row">
              <div class="col-sm-6 col-lg-3 border-right mb-4">
                <h6>2020</h6>
                <a class="dropdown-item" href="/pel/1/1"> Kabupaten Bombana</a>
                <a class="dropdown-item" href="/pel/1/2"> Kabupaten Buton</a>
                <a class="dropdown-item" href="/pel/1/3">
                  Kabupaten Buton Selatan</a
                >
                <a class="dropdown-item" href="/pel/1/4">
                  Kabupaten Buton Tengah</a
                >
                <a class="dropdown-item" href="/pel/1/5">
                  Kabupaten Buton Utara</a
                >
                <a class="dropdown-item" href="/pel/1/6"> Kabupaten Kolaka</a>
                <a class="dropdown-item" href="/pel/1/7">
                  Kabupaten Kolaka Timur</a
                >
                <a class="dropdown-item" href="/pel/1/8">
                  Kabupaten Kolaka Utara</a
                >
                <a class="dropdown-item" href="/pel/1/9"> Kabupaten Konawe</a>
                <a class="dropdown-item" href="/pel/1/10">
                  Kabupaten Konawe Kepulauan</a
                >
                <a class="dropdown-item" href="/pel/1/11">
                  Kabupaten Konawe Selatan</a
                >
                <a class="dropdown-item" href="/pel/1/12">
                  Kabupaten Konawe Utara</a
                >
                <a class="dropdown-item" href="/pel/1/13"> Kabupaten Muna</a>
                <a class="dropdown-item" href="/pel/1/14">
                  Kabupaten Muna Barat</a
                >
                <a class="dropdown-item" href="/pel/1/15">
                  Kabupaten Wakatobi</a
                >
                <a class="dropdown-item" href="/pel/1/16"> Kota Bau-Bau</a>
                <a class="dropdown-item" href="/pel/1/17"> Kota Kendari</a>
              </div>
              <div class="col-sm-6 col-lg-3 border-right mb-4">
                <h6>2021</h6>
                <a class="dropdown-item" href="/pel/2/1"> Kabupaten Bombana</a>
                <a class="dropdown-item" href="/pel/2/2"> Kabupaten Buton</a>
                <a class="dropdown-item" href="/pel/2/3">
                  Kabupaten Buton Selatan</a
                >
                <a class="dropdown-item" href="/pel/2/4">
                  Kabupaten Buton Tengah</a
                >
                <a class="dropdown-item" href="/pel/2/5">
                  Kabupaten Buton Utara</a
                >
                <a class="dropdown-item" href="/pel/2/6"> Kabupaten Kolaka</a>
                <a class="dropdown-item" href="/pel/2/7">
                  Kabupaten Kolaka Timur</a
                >
                <a class="dropdown-item" href="/pel/2/8">
                  Kabupaten Kolaka Utara</a
                >
                <a class="dropdown-item" href="/pel/2/9"> Kabupaten Konawe</a>
                <a class="dropdown-item" href="/pel/2/10">
                  Kabupaten Konawe Kepulauan</a
                >
                <a class="dropdown-item" href="/pel/2/11">
                  Kabupaten Konawe Selatan</a
                >
                <a class="dropdown-item" href="/pel/2/12">
                  Kabupaten Konawe Utara</a
                >
                <a class="dropdown-item" href="/pel/2/13"> Kabupaten Muna</a>
                <a class="dropdown-item" href="/pel/2/14">
                  Kabupaten Muna Barat</a
                >
                <a class="dropdown-item" href="/pel/2/15">
                  Kabupaten Wakatobi</a
                >
                <a class="dropdown-item" href="/pel/2/16"> Kota Bau-Bau</a>
                <a class="dropdown-item" href="/pel/2/17"> Kota Kendari</a>
              </div>
              <div class="col-sm-6 col-lg-3 border-right mb-4">
                <h6>2022</h6>
                <a class="dropdown-item" href="/pel/3/1"> Kabupaten Bombana</a>
                <a class="dropdown-item" href="/pel/3/2"> Kabupaten Buton</a>
                <a class="dropdown-item" href="/pel/3/3">
                  Kabupaten Buton Selatan</a
                >
                <a class="dropdown-item" href="/pel/3/4">
                  Kabupaten Buton Tengah</a
                >
                <a class="dropdown-item" href="/pel/3/5">
                  Kabupaten Buton Utara</a
                >
                <a class="dropdown-item" href="/pel/3/6"> Kabupaten Kolaka</a>
                <a class="dropdown-item" href="/pel/3/7">
                  Kabupaten Kolaka Timur</a
                >
                <a class="dropdown-item" href="/pel/3/8">
                  Kabupaten Kolaka Utara</a
                >
                <a class="dropdown-item" href="/pel/3/9"> Kabupaten Konawe</a>
                <a class="dropdown-item" href="/pel/3/10">
                  Kabupaten Konawe Kepulauan</a
                >
                <a class="dropdown-item" href="/pel/3/11">
                  Kabupaten Konawe Selatan</a
                >
                <a class="dropdown-item" href="/pel/3/12">
                  Kabupaten Konawe Utara</a
                >
                <a class="dropdown-item" href="/pel/3/13"> Kabupaten Muna</a>
                <a class="dropdown-item" href="/pel/3/14">
                  Kabupaten Muna Barat</a
                >
                <a class="dropdown-item" href="/pel/3/15">
                  Kabupaten Wakatobi</a
                >
                <a class="dropdown-item" href="/pel/3/16"> Kota Bau-Bau</a>
                <a class="dropdown-item" href="/pel/3/17"> Kota Kendari</a>
              </div>
              <div class="col-sm-6 col-lg-3 mb-4">
                <h6>2023</h6>
                <a class="dropdown-item" href="/pel/4/1"> Kabupaten Bombana</a>
                <a class="dropdown-item" href="/pel/4/2"> Kabupaten Buton</a>
                <a class="dropdown-item" href="/pel/4/3">
                  Kabupaten Buton Selatan</a
                >
                <a class="dropdown-item" href="/pel/4/4">
                  Kabupaten Buton Tengah</a
                >
                <a class="dropdown-item" href="/pel/4/5">
                  Kabupaten Buton Utara</a
                >
                <a class="dropdown-item" href="/pel/4/6"> Kabupaten Kolaka</a>
                <a class="dropdown-item" href="/pel/4/7">
                  Kabupaten Kolaka Timur</a
                >
                <a class="dropdown-item" href="/pel/4/8">
                  Kabupaten Kolaka Utara</a
                >
                <a class="dropdown-item" href="/pel/4/9"> Kabupaten Konawe</a>
                <a class="dropdown-item" href="/pel/4/10">
                  Kabupaten Konawe Kepulauan</a
                >
                <a class="dropdown-item" href="/pel/4/11">
                  Kabupaten Konawe Selatan</a
                >
                <a class="dropdown-item" href="/pel/4/12">
                  Kabupaten Konawe Utara</a
                >
                <a class="dropdown-item" href="/pel/4/13"> Kabupaten Muna</a>
                <a class="dropdown-item" href="/pel/4/14">
                  Kabupaten Muna Barat</a
                >
                <a class="dropdown-item" href="/pel/4/15">
                  Kabupaten Wakatobi</a
                >
                <a class="dropdown-item" href="/pel/4/16"> Kota Bau-Bau</a>
                <a class="dropdown-item" href="/pel/4/17"> Kota Kendari</a>
              </div>
              <div class="col-sm-6 col-lg-3 mb-4">
                <h6>2024</h6>
                <a class="dropdown-item" href="/pel/5/1"> Kabupaten Bombana</a>
                <a class="dropdown-item" href="/pel/5/2"> Kabupaten Buton</a>
                <a class="dropdown-item" href="/pel/5/3">
                  Kabupaten Buton Selatan</a
                >
                <a class="dropdown-item" href="/pel/5/4">
                  Kabupaten Buton Tengah</a
                >
                <a class="dropdown-item" href="/pel/5/5">
                  Kabupaten Buton Utara</a
                >
                <a class="dropdown-item" href="/pel/5/6"> Kabupaten Kolaka</a>
                <a class="dropdown-item" href="/pel/5/7">
                  Kabupaten Kolaka Timur</a
                >
                <a class="dropdown-item" href="/pel/5/8">
                  Kabupaten Kolaka Utara</a
                >
                <a class="dropdown-item" href="/pel/5/9"> Kabupaten Konawe</a>
                <a class="dropdown-item" href="/pel/5/10">
                  Kabupaten Konawe Kepulauan</a
                >
                <a class="dropdown-item" href="/pel/5/11">
                  Kabupaten Konawe Selatan</a
                >
                <a class="dropdown-item" href="/pel/5/12">
                  Kabupaten Konawe Utara</a
                >
                <a class="dropdown-item" href="/pel/5/13"> Kabupaten Muna</a>
                <a class="dropdown-item" href="/pel/5/14">
                  Kabupaten Muna Barat</a
                >
                <a class="dropdown-item" href="/pel/5/15">
                  Kabupaten Wakatobi</a
                >
                <a class="dropdown-item" href="/pel/5/16"> Kota Bau-Bau</a>
                <a class="dropdown-item" href="/pel/5/17"> Kota Kendari</a>
              </div>
            </div>
          </div>
        </li>
        <!--=========-->
        <!-- Dasar Hukum -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            DASAR HUKUM
          </a>
          <div class="dropdown-menu sm-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/SK">SURAT KEPUTUSAN</a>
            <a class="dropdown-item" href="/peta">PETA</a>
          </div>
        </li>
        <!-- Kemantapan -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            KEMANTAPAN
          </a>
          <div class="dropdown-menu sm-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/kemantapan/jalan">JALAN</a>
            <a class="dropdown-item" href="/kemantapan/jembatan">JEMBATAN</a>
          </div>
        </li>
        <!-- Aduan Masyarakat -->
        <li class="nav-item">
          <a class="nav-link" href="/#adm">MASUKKAN MASYARAKAT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
