.pelaksanaan_cont {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.pelaksanaan_cont .pelaksanaan_tittle {
  width: 100%;
}
.pelaksanaan_cont .pelaksanaan_tittle h1 {
  text-align: center;
}
.pelaksanaan_cont .pelaksanaan_tittle h1 small {
  color: green;
}
.pelaksanaan_cont .pelaksanaan_tittle hr {
  border: 5px solid green;
  width: 100%;
}
.pelaksanaan_cont .row:nth-child(2) {
  width: 100%;
}
.pelaksanaan_cont .row .form-group label {
  font-weight: bold;
}
.pelaksanaan_cont .row .container-fluid .card {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.pelaksanaan_cont .row .container-fluid .card:hover {
  border: 1px solid green;
}
.pelaksanaan_cont .row .container-fluid .card-body {
  display: flex;
  gap: 10px;
}
.pelaksanaan_cont .row .container-fluid .card-body .card-explain {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pelaksanaan_cont .row .container-fluid .card-body .card-explain .card-title a {
  color: green;
}
.pelaksanaan_cont .row .container-fluid .card-body .card-img {
  width: 40%;
  height: 40vh;
  overflow: hidden;
  border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -ms-border-radius: 20px 20px 20px 20px;
  -o-border-radius: 20px 20px 20px 20px;
}
.pelaksanaan_cont .row .container-fluid .card-body .card-img img {
  width: 30vw;
  height: 40vh;
  object-fit: cover;
  object-position: center;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.pelaksanaan_cont .row .container-fluid .card-body .card-img img:hover {
  width: 40vw;
  height: 50vh;
}

@media (max-width: 991px) {
  .pelaksanaan_cont .row .container-fluid .card-body {
    flex-direction: column;
  }
  .pelaksanaan_cont .row .container-fluid .card-body .card-img {
    width: 100%;
  }
  .pelaksanaan_cont .row .container-fluid .card-body .card-img img {
    width: 100%;
  }
  .pelaksanaan_cont .row .container-fluid .card-body .card-img img:hover {
    width: 120%;
    height: 60vh;
  }
}
