<!-- Header -->
<section class="header_cont">
  <header>
    <h1>
      <small>SELAMAT DATANG</small> <br />DI APLIKASI SEPEJANTANPRO <br />
    </h1>
    <h6>(SISTEM INFORMASI DATA PERENCANAAN DAN JALAN)</h6>
  </header>
</section>
<!-- SUB-SUB HOME -->
<!-- Sub Pelaksanaan -->
<%-include("./page-home/sub_pelaksanaan.ejs")%>
<!--  Sub Layanan -->
<%-include("./page-home/sub_layanan.ejs")%>
<!-- Sub Tutorial -->
<%-include("./page-home/sub_tutorial.ejs")%>
<!-- Sub Aduan Masyarakat -->
<%-include("./page-home/sub_aduan.ejs")%>
<!-- Sub Link Terkait -->
